body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: #483D8B; /* Change to your desired text color */
    text-align: center; /* Center align the content */
}

h1 {
    font-size: 54px; /* Increase the font size for headings */
    color: #8B008B; /* Change to your desired heading color */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
}

body {
    background-image: url('photo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

p {
    margin-bottom: 20px; /* Add margin between "About Me" and links */
}

.centered-content {
    text-align: center; /* Center align the content */
}

.container {
    margin: 0 auto; /* Center the container horizontally */
}

ul {
    list-style: none;
}

a {
    font-size: 48px; /* Adjust the size as needed */
}

a {
    border: 2px solid #48D1CC; /* Adjust the width and color as needed */
    padding: 8px; /* Adjust the padding as needed */
}

a {
    text-decoration: none;
}


a {
    color: #191970
}

nav ul {
    list-style: none;
    display: flex; /* Display list items horizontally */
    justify-content: center; /* Center items horizontally */
}

nav li {
    margin: 0 20px; /* Adjust margin for spacing between links */
}