body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: #FFFFF0; /* Change to your desired text color */
    text-align: center; /* Center align the content */
}

h1 {
    font-size: 54px; /* Increase the font size for headings */
    color: #E6E6FA; /* Change to your desired heading color */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
}

h1 {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

p {
    margin-bottom: 20px; /* Add margin between "About Me" and links */
}

body {
    background-color: #000000;
}


.centered-content {
    text-align: center; /* Center align the content */
}

.container {
    padding-left: 5cm; /* Left padding of 5 centimeters */
    padding-right: 5cm; /* Right padding of 5 centimeters */
    background-image: url('photo3'); /* Set the background color of the empty space */
    background-size: cover; /* Adjust the image size to cover the container */
    background-repeat: no-repeat; /* Prevent image repetition */
    text-align: justify; /* Justify the text to fill the space */
    color: #000; /* Set the text color (black) */
}    

.image-credit {
    position: fixed;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    right: 10px; /* Adjust the distance from the right as needed */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff; /* Text color */
    padding: 5px; /* Padding around the text */
    font-size: 12px; /* Font size */
}

